In [1]:
mylist = [1,2,3]

In [2]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [4]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [6]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [7]:
word = 'abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [8]:
word = 'abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [12]:
mylist1 = [1,2,3]
mylist2 = ['a', 'b', 'c']
mylist3 = [100,200,300]

In [10]:
zip(mylist1,mylist2)

In [11]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [13]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [14]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [15]:
'x' in [1,2,3]

False

In [16]:
'x' in ['x', 'y', 'z']

True

In [17]:
'a' in 'a world'

True

In [18]:
"mykey" in {"mykey": 345}

True

In [21]:
d = {'mykey': 345}

'mykey' in d

True

In [22]:
d = {'mykey': 345}

345 in d.values()

True

In [23]:
d = {'mykey': 345}

345 in d.keys() # or 345 in d

False

In [24]:
mylist = [10,20,30,40,100]

In [25]:
min(mylist)

10

In [26]:
max(mylist)

100

In [27]:
from random import shuffle

In [28]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
random_list = shuffle(mylist) # in place function. change orginal but cant save on another variable

In [33]:
type(random_list)

NoneType

In [35]:
mylist

[7, 2, 3, 1, 9, 6, 4, 10, 8, 5]

In [36]:
from random import randint

In [37]:
randint(0,100)

3

In [38]:
randint(0,100)

84

In [39]:
mynum = randint(0,10)

In [40]:
mynum

9

In [42]:
result = input("Enter a number here: ")

In [43]:
result

'565656540870641'

In [44]:
type(result)

str

In [45]:
float(result)

565656540870641.0

In [46]:
int(result)

565656540870641