In [1]:
import pandas as pd

In [3]:
print(pd.__version__)

2.2.2

In [5]:
Deposite = pd.DataFrame({"c-name": ['Amin', 'Fatemeh', 'Mohammad', 'Sahar'],
                        'b-name': ['Baran', 'Baran', 'Kaj', 'Bahar'],
                        'a-no': [100, 101, 102, 103],
                        'balance': [100000, 200000, 500000, 800000]})

In [7]:
Deposite

     c-name b-name  a-no  balance
0      Amin  Baran   100   100000
1   Fatemeh  Baran   101   200000
2  Mohammad    Kaj   102   500000
3     Sahar  Bahar   103   800000

print(Deposite.loc[0])

# Read and Load DataFrame

In [32]:
df = pd.read_csv()

TypeError: read_csv() missing 1 required positional argument: 'filepath_or_buffer'

In [34]:
# 5 سطر اول
df.head()

NameError: name 'df' is not defined

In [36]:
# 5 سطر آخر
df.tail()

NameError: name 'df' is not defined

In [ ]:
# اطلاعات دیتاست بدست میآید
print(df.info())

# Cleaning Data

Empity Cell(missing Data)

Data is Wrong Format

Wrong Data

Duplicates

In [ ]:
df = pd.read_csv()

# Empty Cell

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
df.[df.isnull().any(axis=1)]

# Remove

Empty Cells: remove

In [ ]:
df_cleaned = df.dropna()