In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

housing = pd.read_csv('housing.csv', header=0, sep=',')
# housing.head()
# housing.tail()
# housing[3:7]
# housing[:7]
# housing[-5:]
# housing.shape

# housing.info()
# housing.columns

# housing['ocean_proximity']
# housing['ocean_proximity'].unique()
# housing['ocean_proximity'].value_counts()
# housing[housing['ocean_proximity'] == 'ISLAND']
# housing[housing['ocean_proximity'] == 'ISLAND']['population']
# housing[housing['ocean_proximity'] == 'ISLAND'][['population','ocean_proximity']]
# housing.describe()
# housing.hist(bins=50, figsize=(20,15))
# plt.show()
train_set, test_set = train_test_split(housing, test_size=0.2, random_state=42) 
train_set.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
14196,-117.03,32.71,33.0,3126.0,627.0,2300.0,623.0,3.2596,103000.0,NEAR OCEAN
8267,-118.16,33.77,49.0,3382.0,787.0,1314.0,756.0,3.8125,382100.0,NEAR OCEAN
17445,-120.48,34.66,4.0,1897.0,331.0,915.0,336.0,4.1563,172600.0,NEAR OCEAN
14265,-117.11,32.69,36.0,1421.0,367.0,1418.0,355.0,1.9425,93400.0,NEAR OCEAN
2271,-119.80,36.78,43.0,2382.0,431.0,874.0,380.0,3.5542,96500.0,INLAND

In [4]:
data = train_set.copy()
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
14196,-117.03,32.71,33.0,3126.0,627.0,2300.0,623.0,3.2596,103000.0,NEAR OCEAN
8267,-118.16,33.77,49.0,3382.0,787.0,1314.0,756.0,3.8125,382100.0,NEAR OCEAN
17445,-120.48,34.66,4.0,1897.0,331.0,915.0,336.0,4.1563,172600.0,NEAR OCEAN
14265,-117.11,32.69,36.0,1421.0,367.0,1418.0,355.0,1.9425,93400.0,NEAR OCEAN
2271,-119.80,36.78,43.0,2382.0,431.0,874.0,380.0,3.5542,96500.0,INLAND